@import "tailwindcss";
@import "font.css";


body {
    background-image: url(pictures/background.png);
    background-size: cover;
    margin: 30px;
    font-family: 'Poppins', sans-serif;

}

.card-container {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 2px 6px #dadada;
    padding: 1.5rem;
}

.profile-picture {
    width: 36rem;
    height: 36rem;
    background-image: url(./pictures/profile-picture.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 1.5rem;
    ;

}

.profile-info {
    background-color: white;
    border-radius: 12px;
    box-shadow: 2px 2px 6px #dadada;
    padding: 1.5rem;
    text-wrap: normal;
}

header p {
    font-size: 1rem;
    color: #4A4A4A;
    line-height: 1.5rem;
    max-width: 32.5rem;
    max-height: 36rem;

}

.proficiency-card-container {
    background-color: #ffffff;
    border-radius: 0.75rem;
    box-shadow: 2px 2px 2px #dadada;
    padding: 1.25rem;

}



.levels {
    display: flex;
    font-family: 'inter', sans-serif;
    font-weight: 700;
    gap: 0.75rem;

}


.skill {
    margin-bottom: 20px;
}

.skill span {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.bar {
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    height: 6px
}

.level {
    height: 100%;
    position: absolute;
}

.beginner {
    width: 30%;
    background-color: #396B5E;
}

.intermediate {
    width: 60%;
    background-color: #396B5E;
}

.advanced {
    width: 90%;
    background-color: #396B5E;
}

.skilss ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}


.pill {
    padding: 0.5rem 1rem;
    background-color: #ECF4F1;
    color: #000;
    border-radius: 1.5rem;
    font-size: 0.875rem;
    font-weight: medium;
    justify-content: center;
    letter-spacing: 0.125rem;
    list-style: none;

}

.card-1 {
    background-color: #2E6E5B;
    color: white;
    border-radius: 0.75rem;
    box-shadow: 2px 2px 2px #dadada;
    padding: 1.5rem;
    margin-bottom: 1.25rem;
}

.card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 2px 2px 2px #dadada;
    padding: 1.5rem;
    margin-bottom: 1.25rem;
}

.Edu-card-1 {
    background-color: #2E6E5B;
    color: white;
    border-radius: 0.75rem;
    box-shadow: 2px 2px 2px #dadada;
    padding: 1.5rem;
    margin-bottom: 1.25rem;
    display: flex;
    flex-direction: row;
}

.Edu-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 2px 2px 2px #dadada;
    padding: 1.5rem;
    margin-bottom: 1.25rem;
    display: flex;
}

.tools h3 {
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    text-align: center;
    background-color: #000;
    color: white;

}

.tools ul {
    padding: 0;
    margin: 0;
    justify-content: center;
    gap: 10px;

}

.tools li {
    display: flex;
    flex-direction: row;
    font-weight: medium;
    justify-content: center;
    letter-spacing: 0.125rem;
    list-style: none;

}

footer {
    background-color: orange;
    color: white;
    text-st
}