@import "tailwindcss";
@import "font.css";


body {
    background-image: url(pictures/background.png);
    background-size: cover;
    margin: 30px;
    font-family: 'Poppins', sans-serif;

}

.card-container {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 2px 2px 6px #dadada;
    padding: 24px;
}

.profile-picture {
    width: 36rem;
    height: 36rem;
    background-image: url(./pictures/profile-picture.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 24px;

}

.profile-info {
    background-color: white;
    border-radius: 12px;
    box-shadow: 2px 2px 6px #dadada;
    padding: 24px;
}

header p {
    font-size: 1rem;
    color: #4A4A4A;
    line-height: 1.5rem;
    max-width: 32.5rem;
    max-height: 36rem;

}



.levels {
    display: flex;
    font-family: 'inter', sans-serif;
    font-weight: 700;
    gap: 0.75rem;

}


.skill {
    margin-bottom: 20px;
}

.skill span {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.bar {
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    height: 6px
}

.level {
    height: 100%;
    position: absolute;
}

.beginner {
    width: 30%;
    background-color: #396B5E;
}

.intermediate {
    width: 60%;
    background-color: #396B5E;
}

.advanced {
    width: 90%;
    background-color: #396B5E;
}

.skilss ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills li {
    display: flex;
    flex: ;
    border: 0px solid black;
    background-color: #ECF4F1;
    border-radius: 6px;
    padding: 8px 14px;
}

.project-card-1 {
    background-color: #2E6E5B;
    color: white;
    border-radius: 0.75rem;
    box-shadow: 2px 2px 2px #dadada;
    padding: 24px;
    margin-bottom: 1.25rem;
}

.project-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 2px 2px 2px #dadada;
    padding: 24px;
    margin-bottom: 1.25rem;
}