@import "tailwindcss";
@import "font.css";


.body {

    font-family: 'Poppins', sans-serif;

}


.levels {
    display: flex;
    font-family: 'inter', sans-serif;
    font-weight: 700;
    gap: 0.75rem;

}


.skill {
    margin-bottom: 20px;
}

.skill span {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.bar {
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    height: 6px
}

.level {
    height: 100%;
    position: absolute;
}

.beginner {
    width: 30%;
    background-color: #396B5E;
}

.intermediate {
    width: 60%;
    background-color: #396B5E;
}

.advanced {
    width: 90%;
    background-color: #396B5E;
}

.skilss ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}


.Edu-card {
    border-radius: 12px;
    box-shadow: 2px 2px 2px #dadada;
    padding: 1.5rem;
    margin-bottom: 1.25rem;
    display: flex;
}